html {
    font-size: 10px;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
}
p {
    font-size: 2rem;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    display: block;
}
.borde img {
    border-radius: 0.5rem;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.35);
}

h1,
h2,
h3 {
    margin: 2.5rem 0;
    text-align: center;
}
h1 {
    font-size: 3.8rem;
    font-weight: 700;
}
h2 {
    font-size: 3.4rem;
    font-weight: 400;
}
h3 {
    font-size: 3rem;
    font-weight: 300;
}
h4 {
    font-size: 2.6rem;
}

.contenedor {
    width: 95%;
    height: auto;
    max-width: 120rem;
    margin: 0 auto;
}
.seccion {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.contenido-centrado {
    max-width: 80rem;
}

/* Inicio Header */
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

.navegacion a {
    color: #ffffff;
    font-size: 2.2rem;
    margin-right: 2rem;
    text-align: center;
    cursor: pointer;
}
.navegacion a:hover {
    color: #e08709;
}

.encabezado {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}
.activo {
    width: auto;
    border-radius: 0.5rem;
    background-color: #71b100;
    padding: 0.5rem;
}

.contenido-encabezado h1 {
    position: relative;
    top: 30rem;
    text-align: left;
    color: #ffffff;
    font-weight: 700;
    line-height: 2;
    max-width: 60rem;
}
.inicio {
    display: flex;
    flex: column;
    min-height: 70rem;
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
}

/* Fin Header */

/* Pagina Inicio */

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 5rem;
}

.icono {
    text-align: center;
    img {
        height: 10rem;
    }
    h3 {
        text-transform: uppercase;
    }
}
.boton {
    width: auto;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.boton-amarillo {
    background-color: #e08709;
}
.boton-amarillo:hover {
    background-color: darkgoldenrod;
}
.boton-verde {
    background-color: #71b100;
    margin-top: 2rem;
}
.boton-verde:hover {
    background-color: #4d7c00;
}
.imagen-contacto {
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        color: #ffffff;
        font-size: 4rem;
        font-weight: 700;
        text-align: center;
    }
    p {
        color: #ffffff;
        font-size: 1.8rem;
        text-align: center;
    }
}
.seccion-inferior {
    display: flex;
    gap: 2rem;
}
.info-meta {
    span {
        color: #e08709;
    }
}

.entrada-blog {
    margin: 5rem 0;
    display: flex;
    gap: 2rem;
}
.imagen img {
    width: 30rem;
    border-radius: 0.5rem;
}

.texto-entrada {
    a {
        color: #000000;
        display: block;
        margin-top: 0;
    }
    h4 {
        margin: 0;
        line-height: 1.4;
    }
}
.testimoniales {
    width: 40%;
}
.testimonial {
    height: auto;
    background-color: #71b100;
    font-size: 2.4rem;
    padding: 5rem;
    color: #ffffff;
    border-radius: 2rem;
    p {
        text-align: right;
    }
}
/* Fin Pagina Inicio */

/* Inicio Pagina Nosotros */
.contenido-nosotros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}
.texto-nosotros {
    width: 50%;
}
.texto-nosotros blockquote {
    font-weight: 700;
    font-size: 2.2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}

/* Fin Pagina Nosotros */

/* Inicio Contacto */

.contactos {
    background-color: #ffffff;
    display: flex;
    gap: 5rem;
}
.contacto {
    width: 50%;
}

.formulario {
    p {
        display: flex;
        flex-direction: column;
    }
    p label {
        min-width: 8rem;
        display: flex;
    }
    p input,
    p textarea {
        width: 100%;
        background-color: #ffffff;
        border-radius: 0.5rem;
        border: 0.1rem solid #999;
        padding: 0.6rem 1rem;
        font-size: 1.4rem;
        margin: 0.5rem 0;
    }
    p {
        &:nth-child(4) {
            align-items: start;
        }
    }
    textarea {
        resize: none;
        height: 20rem;
    }
}
.formulario input[type="submit"] {
    width: 30%;
    background-color: #71b100;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.formulario input[type="submit"]:hover {
    background-color: #4d7c00;
}

.datos {
    p {
        font-size: 1.6rem;
        font-weight: 700;
    }
    ul li {
        font-size: 1.3rem;
    }
}
.redes {
    i {
        margin: 1rem;
    }
}

/* Fin Contacto */

/* Inicio Footer */
.pie {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
    padding: 1rem 0;
}
.contenido-pie {
    padding-top: 2rem;
}

/* Fin Footer */

/* Medias Queries */

@media (max-width: 760px) {
    .barra {
        flex-direction: column;
    }
    .iconos-nosotros {
        flex-direction: column;
    }
    .seccion-inferior {
        flex-direction: column;
    }
    .contenido-nosotros {
        flex-direction: column;
    }
    .texto-nosotros {
        width: 100%;
    }
    .contactos {
        flex-direction: column;
        align-items: center;
    }
    .contacto {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .navegacion a {
        display: flex;
        flex-direction: column;
        margin: 0 13rem 0 13rem;
    }
    .contenido-encabezado h1 {
        top: 15rem;
        text-align: center;
    }
    .entrada-blog {
        flex-direction: column;
        a {
            display: block;
            margin-top: 2rem;
        }
    }
    .testimoniales {
        width: auto;
    }
    .img-contacto {
        max-height: 25rem;
    }
    .formulario input[type="submit"] {
        width: auto;
    }
}
